<!DOCTYPE html>
<html>
<head>
  <title>Run This Place</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAqkde8F_7eSorbQZNzN6oVQkvrAHiZCZo"%>

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,700" %>

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"> -->

</head>
<body>

<%= yield %>

</body>
</html>
